
.button1
 /* navigation buttons */
{
/* button1 position */
display:inline-block;
float:left;
/*button1 shape*/
box-sizing:border-box;
border-style: solid;
border-radius: 10px;
border-width: medium;
border-color: white;
background-color: rgb(253,195,1);
padding-top:10px;
padding-bottom:10px;
margin:2px;
width: 20%;
height:75%;
/*button1 text*/
text-transform: uppercase;
text-align:center;
vertical-align:middle;
font-family:"Arial", Sans-serif;
font-weight: bold;
font-style:bold;
font-size: 100%;
color: black;
text-decoration:none;
padding-top: 20px;
}

.button2
 /* homepage- submit button */
{
/* button1 position */
display:inline-block;
float:right;
/*button1 shape*/
border-style: solid;
border-radius: 10px;
border-width: medium;
border-color: white;
background-color: rgb(253,195,1);
padding-top:10px;
padding-bottom:10px;
margin:2px;
width:20%;
height:90%;
/*button1 text*/
text-transform: uppercase;
text-align:center;
font-family:"Arial", Sans-serif;
font-weight: bold;
font-style:bold;
font-size: 100%;
color: black;
text-decoration:none;

}

.button3
/* payment/admin - submit button*/
{
/* button1 position */
display:inline-block;
float:right;
/*button1 shape*/
border-style: solid;
border-radius: 10px;
border-width: medium;
border-color: white;
background-color: rgb(253,195,1);
padding-top:10px;
padding-bottom:10px;
margin:2px;
width:40%;
height:90%;
/*button1 text*/
text-transform: uppercase;
text-align:center;
font-family:"Arial", Sans-serif;
font-weight: bold;
font-style:bold;
font-size: 100%;
color: black;
text-decoration:none;

}

.dropdown1
/* payment-card type, homepage- period */
{
/* dropdown1 position */
display:inline;
/*dropdown1 shape*/
border-style: solid;
border-radius: 10px;
border-width: small;
border-color: white;
background-color: white;
padding:10px;
margin:2px;
width:100px;
height:40px;
}

.heading
/* top header for all pages except for admin */
{
/* text style */
font-family:"Arial", Sans-serif;
font-size:50px;
font-weight: bold;
text-transform: uppercase;
color: white;
display:block;
text-align:center;
/*border style*/
border-radius: 10px;
border-bottom-left-radius: 0px;
border-bottom-right-radius:0px;
border-width: medium;
border-color: grey;
background-color: rgb(0,36,125);
height:100px;
margin:0px;
padding: 20px;
}

.heading1
/* top header used for adin page*/
{
/* text style */
font-family:"Arial", Sans-serif;
font-size:50px;
font-weight: bold;
text-transform: uppercase;
color: white;
display:block;
text-align:center;
/*border style*/
border-radius: 10px;
border-width: medium;
border-color: grey;
background-color: rgb(0,36,125);
height:100px;
margin:0px;
padding: 20px;
}

div.navbar
/* navigation bar all pages but admin*/
{
border-radius: 10px;
border-top-left-radius: 0px;
border-top-right-radius:0px;
border-width: large;
border-color: white;
background-color: rgb(0,36,125);
top: 100px;
height: 100px;
padding: 10px;

}


.body
{
background-color: white;
height: 1500px;
}

.box1
/* homepage - booking form*/
{
/* text style */
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: white;
text-transform: uppercase;
/*border style */
border-radius: 10px;
border-width: large;
border-color: white;
background-color: red;
height:50px;
width: 1310px;
padding: 10px;
}

.box2
/* orderconfirm, homepage, payment - main content box */
{
position:relative;
top: 50px;
left:5px;
color:white;
border-width: medium;
border-color: grey;
border-radius: 10px;
background-color: rgb(0,36,125);
margin:0px;
padding:10px;
width:500px;
}

.box3
/* orderconfirm,payment - summ box */
{
/* text style */
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: white;
text-transform: uppercase;
/*border style */
border-radius: 10px;
border-width: large;
border-color: white;
background-color: red;
height:20px;
width: 1310px;
padding: 20px;
}

.box4
/* admin - content box */
{
/* text style */
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: white;
text-transform: uppercase;
/*border style */
position: relative;
top:10px;
border-radius: 10px;
border-width: large;
border-color: white;
background-color: rgb(0,36,125);
height:auto;
width: 400px;
padding: 35px;
margin:20px;
}

.label1
/* homepage - table titles*/
{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: white;
text-transform: uppercase;
text-align:center;
padding:10px;
}

.label2
/*payment, admin - form titles */
{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: white;
text-transform: uppercase;
text-align:left;
padding:10px;
}

.label3
/* orderconfirm - bike reg */
{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: white;
padding:10px;
}

div.bikeType, div.bikeModels
/* bikegallery - subtitles */
{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: black;
text-transform: uppercase;
text-align:left;
padding:10px;
}

.text2
/* homepage - bike types names, */
{
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: white;
text-transform: uppercase;
text-align:center;
padding:10px;

}

.text3
/* homepage - number of bikes aval */
{
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
padding:100px;

}

.text4
/* orderconfirm - bikeType*/
{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
background-color: white;
padding:10px;
margin:2px;
width:150px;
height:10px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: black;
text-transform: uppercase;
text-align:center;
padding:10px;
}

.text5
/* locCon - all text*/
{
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: black;

}

.text6
/* Admin - subtitles*/
{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: black;

}

.text7
/* cycleroute - content text*/
{
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:left;
vertical-align: top;
padding:10px;

}


.textbox1
/* homepage - year, month, day */
{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:5px;
margin:2px;
width:50px;
height:15px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
}

.textbox2
/* homepage - email address*/
{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:5px;
margin:2px;
width:200px;
height:15px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
}

.textbox3
/* homepage - quantity ordered*/
{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:5px;
margin:2px;
width:150px;
height:15px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
}


.textbox4
/* payment - all fields but expire date, admin - mm yy*/
{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:10px;
margin:2px;
height:15px;
width:200px;
left: 500px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
display: inline-block;
box-sizing: border-box;
}

.textbox5
/* payment - expire date*/
{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:10px;
margin:2px;
width:50px;
height:15px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
box-sizing: border-box;
}

.h1
/* cycleroute - subtitles*/
{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
text-transform: uppercase;
text-decoration: underline;
}

.bikePic
/* homepage-  bike picture*/
{
padding: 10px;
margin:5px;
width: 300px;
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:0px;
margin:10px;
width:350px;
}

div.img
/* bike gallery - bike pictures*/
{
margin: 5px;
padding: 5px;
border: 1px solid #0000ff;
height: 500px;
width: 400px;
float: left;
text-align: center;
display: inline;
margin: 5px;
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: rgb(0,36,125);
}
  
div.desc
/* bike gallery - description*/
{
font-family:"Arial", Sans-serif;
font-size:15px;
padding:10px;
text-align: center;
font-weight: normal;
width: 350px;
margin: 5px;
}

.routeImg
/* cycleroute - route map*/
{
float:left;
display:inline;
margin: 10px;
width: 700px;
}




