

.button
{
border-style: outset;
border-radius: 10px;
border-width: medium;
border-color: grey;
background-color: rgb(253,195,1);
font-family:"Arial", Sans-serif;
font-weight: bold;
font-style:bold;
font-size: 20px;
color: black;
text-decoration:none;
padding:20px;
margin:5px;
display:inline-block;
float:left;
width:200px;
height:50px;
margin:5px;
}

.button1
{
/* button1 position */
display:inline-block;
float:right;
/*button1 shape*/
border-style: solid;
border-radius: 10px;
border-width: medium;
border-color: white;
background-color: rgb(253,195,1);
padding:10px;
margin:2px;
width:200px;
height:50px;
/*button1 text*/
text-transform: uppercase;
text-align:center;
vertical-align: center;
font-family:"Arial", Sans-serif;
font-weight: bold;
font-style:bold;
font-size: 20px;
color: black;
text-decoration:none;
}

.button2
{
/* button1 position */
display:inline-block;
float:left;
/*button1 shape*/
border-style: solid;
border-radius: 10px;
border-width: medium;
border-color: white;
background-color: rgb(253,195,1);
padding:10px;
margin:2px;
width:200px;
height:50px;
/*button1 text*/
text-transform: uppercase;
text-align:center;
vertical-align: center;
font-family:"Arial", Sans-serif;
font-weight: bold;
font-style:bold;
font-size: 20px;
color: black;
text-decoration:none;
}

.dropdown1
{
/* dropdown1 position */
display:inline;
/*dropdown1 shape*/
border-style: solid;
border-radius: 10px;
border-width: small;
border-color: white;
background-color: white;
padding:10px;
margin:2px;
width:100px;
height:40px;

}

.heading
{
/* text style */
font-family:"Arial", Sans-serif;
font-size:50px;
font-weight: bold;
text-transform: uppercase;
color: white;
display:block;
text-align:center;
/*border style*/
border-radius: 10px;
border-width: medium;
border-color: grey;
background-color: rgb(0,36,125);
height:100px;
margin:0px;
padding: 20px;
}

div.navbar{
border-radius: 10px;
border-width: large;
border-color: white;
background-color: rgb(0,36,125);
top: 300px;
height: 100px;
padding: 10px;
}


.body{
background-color: white;
height: 1500px;
}

.box1{
/* text style */
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: white;
text-transform: uppercase;
/*border style */
border-radius: 10px;
border-width: large;
border-color: white;
background-color: red;
height:50px;
width: 1310px;
padding: 10px;
}

.box2{
position:relative;
top: 50px;
left:5px;
color:white;
border-width: medium;
border-color: grey;
border-radius: 10px;
background-color: rgb(0,36,125);
margin:0px;
padding:10px;
width:400px;
}

.box3{
/* text style */
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: white;
text-transform: uppercase;

/*border style */
border-radius: 10px;
border-width: large;
border-color: white;
background-color: red;
height:20px;
width: 1320px;
padding: 20px;
}

.label1{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: white;
text-transform: uppercase;
text-align:center;
padding:10px;
}

.label2{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: white;
text-transform: uppercase;
text-align:left;
padding:10px;
}

.label3{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: white;
padding:10px;
}

div.bikeType, div.bikeModels{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: bold;
color: black;
text-transform: uppercase;
text-align:left;
padding:10px;
}

div.desc{
font-family:"Arial", Sans-serif;
font-size:15px;
padding:10px;

}


.text2{
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: white;
text-transform: uppercase;
text-align:center;
padding:10px;

}

.text3{
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
padding:100px;

}

.text4{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
background-color: white;
padding:10px;
margin:2px;
width:150px;
height:10px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
font-weight: bold;
color: black;
text-transform: uppercase;
text-align:center;
padding:10px;

}

.textbox1{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:10px;
margin:2px;
width:50px;
height:10px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
}

.textbox2{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:10px;
margin:2px;
width:200px;
height:15px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
}

.textbox3{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:10px;
margin:2px;
width:150px;
height:15px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
}

/*for form text boxes */
.textbox4{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:10px;
margin:2px;
height:15px;
width:150px;
left: 500px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
box-sizing: border-box;
}

.textbox5{
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:10px;
margin:10px;
width:50px;
height:15px;
/*text style */
font-family:"Arial", Sans-serif;
font-size:15px;
text-align:center;
box-sizing: border-box;
}

.h1{
font-family:"Arial", Sans-serif;
font-size:20px;
font-weight: normal;
text-transform: uppercase;
}

.bikePic{
padding: 10px;
margin:5px;
width: 300px;
/*border style */
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: white;
padding:0px;
margin:10px;
width:350px;
}

div.img
{
margin: 5px;
padding: 5px;
border: 1px solid #0000ff;
height: 500px;
width: 400px;
float: left;
text-align: center;
display: inline;
margin: 5px;
border-style:solid;
border-width: small;
border-radius: 10px;
border-color: rgb(0,36,125);
}
  
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 350px;
  margin: 5px;
}



